* {
    font-family: Helvetica, "Calibri", sans-serif;
    box-sizing: border-box;
    /* border: red dotted; */
}

body {
    margin: 0px;
}

.main {
    background-color: rgb(201, 231, 255);
}

.banner {
    background-color: rgb(46, 90, 151);
    height: 50px;
    display: flex;
    padding: 5px 50px;
    justify-content: space-between;
}

.banner a {
    flex: 0 1 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.banner a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(201, 231, 255);
}

p {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
h1, h2 {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color :rgb(97, 163, 217);
    border-top: 2px solid rgb(39, 59, 75);
    border-bottom: 2px solid rgb(39, 59, 75);
}
.top {
    margin-top: 0px;
}

h4 {
    width: 90%;
    text-align: center;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding-top: 15px;
    align-self: center;
}

.links {
    display: flex;
}

.main-link {
    width: 25%;
    padding: 20px 20px;
    margin: 0px auto;
    text-decoration: none;
    background-color: rgb(97, 163, 217);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
}
.main-link:hover {
    background-color: rgb(46, 90, 151);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.paper-head {
    width: 80%;
    padding: 20px 20px;
    background-color: rgb(97, 163, 217);
    color: rgb(255, 255, 255);
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.container > :first-child {
    margin-top: 0px;
}

.paper-head:hover {
    cursor: pointer;
    background-color: rgb(46, 90, 151);  
}

.paper-body {
    margin-top: 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid rgb(97, 163, 217);
    border-top: none;
    background: rgb(221, 238, 252);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
}

.paper-image {
    height: 10%;
    border-bottom: solid rgb(97, 163, 217);
}

.figure {
    width: 90%;
    align-self: center;
}

.paper-text {
    margin-top: 15px;
    text-align: justify;
    width: 90%
}

.inner-body {
    width: 90%;
    align-self: center;
}

.inner-body .figure {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.inner-body .paper-text {
    margin: 0;
    width: 100%;
}